{{> header }}

{{> navbar }}

<div class="container mt-2">
    <div class="row">
        <div class="col-8">
            <h1>Sobre Mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A sunt veritatis adipisci laudantium earum quasi
                culpa nam officia maiores voluptatum provident iusto consequuntur nisi, consequatur animi ullam quis
                commodi numquam.</p>
        </div>


        <div class="col-4">
            <img src="https://media-exp1.licdn.com/dms/image/C5603AQFJ2K8UUrenYQ/profile-displayphoto-shrink_200_200/0?e=1600300800&amp;v=beta&amp;t=Z02byiqALt3A9t_e86fCrRI-H9OV2V8l8f728HVxAMw"
                alt="Carlos Fajardo" class="img-thumbnail">
        </div>

    </div>
</div>

{{> footer }}